
*.xml
*.json
/platforms
platforms/android/.gradle/4.1/fileHashes/fileHashes.bin
platforms/android/.gradle/4.1/fileHashes/fileHashes.lock
platforms/android/.gradle/4.1/taskHistory/fileSnapshots.bin
platforms/android/.gradle/4.1/taskHistory/taskHistory.bin
platforms/android/.gradle/4.1/taskHistory/taskHistory.lock
platforms/android/app/build/intermediates/assets/debug/www/asset/icon/shopping-bag.png
platforms/android/app/build/intermediates/assets/debug/www/asset/icon/warehouse.png
platforms/android/app/build/intermediates/assets/debug/www/config/config.example.js
platforms/android/app/build/intermediates/assets/debug/www/config/config.js
platforms/android/app/build/intermediates/assets/debug/www/dashboard_menu.html
platforms/android/app/build/intermediates/assets/debug/www/homepage.html
platforms/android/app/build/intermediates/assets/debug/www/index.html
platforms/android/app/build/intermediates/assets/debug/www/js/features/logout.js
platforms/android/app/build/intermediates/incremental/packageDebug/debug/dex-renamer-state.txt
platforms/android/app/build/intermediates/incremental/packageDebug/debug/file-input-save-data.txt
platforms/android/app/build/outputs/apk/debug/app-debug.apk
platforms/android/app/src/main/assets/www/asset/icon/shopping-bag.png
platforms/android/app/src/main/assets/www/asset/icon/warehouse.png
platforms/android/app/src/main/assets/www/config/config.example.js
platforms/android/app/src/main/assets/www/config/config.js
platforms/android/app/src/main/assets/www/homepage.html
platforms/android/app/src/main/assets/www/dashboard_menu.html
platforms/browser/www/asset/icon/shopping-bag.png
platforms/android/app/src/main/assets/www/js/features/logout.js
platforms/browser/www/asset/icon/warehouse.png
platforms/browser/www/config/config.example.js
platforms/browser/www/config/config.js
platforms/browser/www/dashboard_menu.html
platforms/browser/www/homepage.html
platforms/browser/www/js/features/logout.js
platforms/android/.gradle/4.1/fileHashes/fileHashes.bin
platforms/android/.gradle/4.1/fileHashes/fileHashes.lock
platforms/android/.gradle/4.1/taskHistory/fileSnapshots.bin
platforms/android/.gradle/4.1/taskHistory/taskHistory.bin
platforms/android/.gradle/4.1/taskHistory/taskHistory.lock
platforms/android/app/build/intermediates/assets/debug/www/asset/icon/shopping-bag.png
platforms/android/app/build/intermediates/assets/debug/www/asset/icon/warehouse.png
platforms/android/app/build/intermediates/assets/debug/www/config/config.example.js
platforms/android/app/build/intermediates/assets/debug/www/config/config.js
platforms/android/app/build/intermediates/assets/debug/www/dashboard_menu.html
platforms/android/app/build/intermediates/assets/debug/www/homepage.html
platforms/android/app/build/intermediates/assets/debug/www/index.html
platforms/android/app/build/intermediates/assets/debug/www/js/features/logout.js
platforms/android/app/build/intermediates/incremental/packageDebug/debug/dex-renamer-state.txt
platforms/android/app/build/intermediates/incremental/packageDebug/debug/file-input-save-data.txt
platforms/android/app/build/outputs/apk/debug/app-debug.apk
platforms/android/app/src/main/assets/www/asset/icon/shopping-bag.png
platforms/android/app/src/main/assets/www/asset/icon/warehouse.png
platforms/android/app/src/main/assets/www/config/config.example.js
platforms/android/app/src/main/assets/www/config/config.js
platforms/android/app/src/main/assets/www/homepage.html
platforms/android/app/src/main/assets/www/dashboard_menu.html
platforms/browser/www/asset/icon/shopping-bag.png
platforms/android/app/src/main/assets/www/js/features/logout.js
platforms/browser/www/asset/icon/warehouse.png
platforms/browser/www/config/config.example.js
platforms/browser/www/config/config.js
platforms/browser/www/dashboard_menu.html
platforms/browser/www/homepage.html
platforms/browser/www/js/features/logout.js
www/config/config.example.js
platforms/browser/www/node_modules/jquery/dist/jquery.js
platforms/browser/www/js/features/logout.js
platforms/browser/www/homepage.html
platforms/browser/www/dashboard_menu.html
platforms/browser/www/config/config.js
platforms/android/app/src/main/assets/www/node_modules/jquery/dist/jquery.js
platforms/android/app/src/main/assets/www/js/features/logout.js
platforms/android/app/src/main/assets/www/homepage.html
platforms/android/app/src/main/assets/www/dashboard_menu.html
platforms/android/app/src/main/assets/www/config/config.js
platforms/browser/www/node_modules/jquery/dist/jquery.js
platforms/browser/www/js/features/logout.js
platforms/browser/www/homepage.html
platforms/browser/www/dashboard_menu.html
platforms/browser/www/config/config.js
platforms/android/app/src/main/assets/www/node_modules/jquery/dist/jquery.js
platforms/android/app/src/main/assets/www/js/features/logout.js
platforms/android/app/src/main/assets/www/homepage.html
platforms/android/app/src/main/assets/www/dashboard_menu.html
platforms/android/app/src/main/assets/www/config/config.js
