
*.xml
*.json
platforms
node_modules
plugins
www/config/config.js

platforms/android/android.json
platforms/android/app/src/main/assets/www/config/config.js
platforms/android/app/src/main/assets/www/index.html
platforms/browser/browser.json
platforms/browser/www/config/config.js
platforms/browser/www/index.html
