/*
#
# Cascading Style Sheet
#
# Alamraya
#
# Ari Akbar Ind
#
*/
html,body{
	height: 100%;
	width: 100%;
}

rawcontent, .hidden {
	display:none;
}
.menu-header {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}
.bg-top{
	background-image: url('../img/dashbaord1.png');
	background-repeat: no-repeat;
	/*background-size: cover;*/
	position: fixed;
	top:0;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.bg-bottom{
	background-image: url('../img/dashboard2.png');
	background-repeat: no-repeat;
	/*background-size: cover;*/
	position: fixed;
	bottom:0;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.screen-width-phone{
	/*width: 360px;*/
	height: 100vh;
	border:1px solid lightgray;
	margin: auto;
}
.content{
	margin-top: 50px;
	padding-left: 30px;
	padding-right: 30px;
}
.card{
	box-shadow: 1px 1px 1px 0px lightgray;
}
#btn-menu span:nth-child(1){
	height: 5px;
	width: 5px;
	border-radius: 50%;
	background-color: #9bd4b8;
	margin-top: 0;
	display: block
}
#btn-menu span:nth-child(2){
	height: 5px;
	width: 5px;
	border-radius: 50%;
	background-color: #9bd4b8;
	margin-top: 5px;
	display: block
}
#btn-menu span:nth-child(3){
	height: 5px;
	width: 5px;
	border-radius: 50%;
	background-color: #9bd4b8;
	margin-top: 5px;
	display: block
}
/*#btn-menu:active
{
	box-shadow: unset;
}*/
.menu-header{
	width: 100%;
	height: 50px;
	position: initial;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-content: center;
}
.text-alamraya{
	color: #9bd4b8 !important;
}
.card-body-custom{
    min-height: calc(100vh / 4);
    line-height: calc(100vh / 8);
}
.sidebar{
	background-color: #3a3f51;
	position: fixed;
	overflow-y: auto;
	z-index: 5;
	top: 0;
	left: -200px;
	width: 200px;
	height: 100%;
	transition: .3s ease;
	font-family: 'Arial';
	font-size: 13px;
	font-weight: 400;
}
.sidebar-collapse{
	overflow-y: hidden;
}
.sidebar-collapse .sidebar{
	left: 0;
}
.sidebar-collapse .sidebar-menu-off{
	z-index: 4;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	left: 0;
	cursor: pointer;
}
.sidebar ul{
	list-style: none;
	display: block;
	margin: unset;
	padding: unset;
}
.sidebar ul > li > a{
	display: block;
	margin: unset;
	padding: 20px 15px 15px 25px;
	color: #bbc0cf;
	font-weight: 500;
}
.sidebar .sidebar-header{
	background-color: #71a06a;
	width: 100%;
	text-align: center;
	padding: 10px;
	color: white;
}
.select2.select2-container .selection .select2-selection{
    border: 1px solid #42ec98;
    border-radius: unset;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.select2-container .select2-selection--single{
	height: 35px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
	height: 35px;
}
.select2-container--open .select2-dropdown--below{
	border-color: #42ec98;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #3cd68a;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > th{
	padding: 10px;
}
.datepicker table tr td.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active:hover,.datepicker table tr td span.active, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active.disabled:hover, .datepicker table tr td span.active:hover {
    background-color: #42ec98;
    background-image: -moz-linear-gradient(to bottom,#42ec98,#13BD68);
    background-image: -ms-linear-gradient(to bottom,#42ec98,#13BD68);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#42ec98),to(#13BD68));
    background-image: -webkit-linear-gradient(to bottom,#42ec98,#13BD68);
    background-image: -o-linear-gradient(to bottom,#42ec98,#13BD68);
    background-image: linear-gradient(to bottom,#42ec98,#13BD68);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#42ec98', endColorstr='#13BD68', GradientType=0);
    border-color: #13BD68 #13BD68 #0D7C42;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}